/* Используем шрифт без засечек и увеличиваем размер символов */
body {
  font-family: sans-serif;
  font-size: 20px;
}

/* Сдвигаем текст заголовка влево, по умолчанию он центрируется */
table caption {
  text-align: left;
}

/* «Схлопываем» рамки соседних ячеек */
table {
  border-collapse: collapse;
}

/* 
  Добавляем ячейкам рамку и padding, расстояние от контента до рамки.
  Для управления положением по вертикали, используется свойство caption-side.
*/
table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}
